{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <!-- Profile Picture -->
            {% if user_profile.profile_picture %}
            <img src="{{ user_profile.profile_picture.url }}" alt="{{ user_profile.user.username }}'s Profile Picture"
                 class="img-thumbnail" style="max-width: 100%;">
            {% else %}
            <img src="#" alt="Default Profile Picture" class="img-thumbnail"
                 style="max-width: 100%;">
            {% endif %}
        </div>

        <div class="col-md-8">
            <!-- Username and Bio -->
            <h2>{{ user_profile.user.username }}</h2>
            <p><strong>Bio:</strong> {{ user_profile.bio }}</p>

            <!-- Edit Profile Button -->
            {% if user_profile.user == request.user %}
            <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
